!!!
%html
  %head
    %title IdeaRoom
    -#= stylesheet_link_tag "application"
    = stylesheet_link_tag "/stylesheets/development.css"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
  = yield

